#Data Types and Structures Questions

Q1. What are data structures, and why are they important ?
- Data structures are ways of organizing and storing data so it can be accessed and modified efficiently. They are crucial for writing efficient algorithms and managing large volumes of data in real-world applications.

Q2.  Explain the difference between mutable and immutable data types with examples ?

- Mutable: Can be changed after creation.
Ex: list = [1, 2, 3] → list[0] = 10
- Immutable: Cannot be changed after creation.
Ex: tuple = (1, 2, 3) → you cannot modify tuple[0]

Q3. What are the main differences between lists and tuples in Python ?
- List: Mutable, Created with square brackets [], Slightly slower, Best for dynamic data, Has many built-in methods (e.g., append, remove), Uses more memory, Not hashable (can't be dict keys).
- Tuple: Immutable, Created with parentheses (), Faster, Best for fixed, constant data, Fewer methods available, More memory-efficient, Hashable if elements are immutable.

Q4. Describe how dictionaries store data ?
- Dictionaries store data as key-value pairs using a hash table internally. Each key maps to a value, enabling fast lookups.

Q5. Why might you use a set instead of a list in Python ?
- To remove duplicates automatically.
- For faster membership testing (in).
- When order doesn't matter.

Q6. What is a string in Python, and how is it different from a list ?
- A string is a sequence of characters (immutable), while a list is a mutable sequence of elements that can include any data type.

Q7. How do tuples ensure data integrity in Python ?
- Tuples are immutable, so once created, their data cannot be altered, making them ideal for storing fixed, reliable data (e.g., coordinates).

Q8. What is a hash table, and how does it relate to dictionaries in Python ?
- A hash table stores data in key-value pairs using a hash function to index the keys. Python dictionaries are built on hash tables, enabling fast access.

Q9. Can lists contain different data types in Python ?
- Yes lists can contain different datatypes in python because it is heterogeneous.

Q10. Explain why strings are immutable in Python ?
- Strings are immutable in Python for several important reasons:
1. Memory Efficiency (Interning)
2. Security and Predictability
3. Thread-Safety
4. Simplicity and Consistency
5. Enables Hashing

Q11. What advantages do dictionaries offer over lists for certain tasks ?
- Dictionaries offer several key advantages over lists for certain tasks in Python, especially when key-based access and efficiency are important:
1. Fast Lookup by Key
2. More Descriptive Access
3. Better for Unordered Data
4. No Need to Know Position
5. Avoids Duplicate Keys

Q12. Describe a scenario where using a tuple would be preferable over a list ?
- A tuple is preferable over a list when you want to store a fixed collection of items that should not change throughout the program—ensuring data integrity and safety.
1. Returning multiple values from a function
2. Storing configuration constants
3. Using as dictionary keys

Q13. How do sets handle duplicate values in Python ?
- In Python, sets automatically eliminate duplicate values — they only store unique elements.
- No Duplicates Allowed: When you add duplicate items to a set, only one copy is kept.
- Order Doesn't Matter: Sets are unordered, so elements may appear in any order when printed.
- Duplicates from Lists: Sets are often used to remove duplicates from other collections like lists.

Q14. How does the “in” keyword work differently for lists and dictionaries ?
- The in keyword behaves differently for lists and dictionaries in Python:
1. In a List: Checks if a value exists in the list, Performs a linear search (O(n) time complexity).
2. In a Dictionary: Checks if a key exists in the dictionary (not the value), Uses a hash table for fast lookup (O(1) average time).

Q15. Can you modify the elements of a tuple? Explain why or why not ?
- No, we cannot modify the elements of a tuple in Python because tuples are immutable.
- Once a tuple is created, its contents are fixed and cannot be changed.
- You cannot add, remove, or change elements.
- Any attempt to modify a tuple raises a TypeError.

Q16. What is a nested dictionary, and give an example of its use case ?
- A nested dictionary in Python is a dictionary inside another dictionary. It's used to store hierarchical or structured data, where each key maps to another dictionary rather than a simple value.

Q17.  Describe the time complexity of accessing elements in a dictionary ?
- In Python, dictionaries use a hash table to store data, which enables fast access to elements. The time complexity of accessing elements in a dictionary is as follows:
1. Average case: O(1) for accessing, inserting, and deleting elements.
2. Worst case: O(n) in case of many hash collisions.

Q18. In what situations are lists preferred over dictionaries ?
- Lists are preferred over dictionaries in the following situations:
1. When you need ordered data.
2. When you need to access elements by index.
3. For homogeneous collections.
4. When you need a simple collection.
5. For modifying and appending elements dynamically.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
- In Python, dictionaries are considered unordered because they store data in a way that doesn't guarantee the order of the key-value pairs. This is due to the underlying hash table structure used by dictionaries for efficient data retrieval.
- It affect the data retrival in the following ways:
1. Key-Based Access
2. Iteration
3. Unordered Nature in Use

Q20.  Explain the difference between a list and a dictionary in terms of data retrieval ?
- Lists: Access by Index, Ordered and Indexed, Retrieval by Index is fast, You don't need to associate elements with keys, just a simple sequence of items.
- Dictionaries: Access by Key, Key-Value Pairs, Key-based Retrieval is O(1), You need to associate unique keys with values (e.g., storing user profiles with user IDs as keys).

#Practical Questions

In [2]:
#1. Write a code to create a string with your name and print it

name = "Anshumaan"
print(name)

Anshumaan

In [3]:
#2. Write a code to find the length of the string "Hello World"

text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

In [4]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [5]:
#4. Write a code to convert the string "hello" to uppercase

text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [11]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [12]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

In [14]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

In [15]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [16]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ('apple', 'banana', 'mango')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [17]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [18]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [19]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [20]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [22]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

person = { "name": "Anshumaan", "age": 22, "city": "Rourkela"}
print(person)

{'name': 'Anshumaan', 'age': 22, 'city': 'Rourkela'}

In [24]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [26]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [27]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [28]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all

my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [31]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[7, 13, 42, 83, 99]

In [32]:
#28. Write a code to create a list with strings and print the element at the third index

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(my_list[3])

date

In [34]:
#29. Write a code to combine two dictionaries into one and print the result

dict1 = {'name': 'Manav', 'age': 30}
dict2 = {'city': 'Delhi', 'country': 'India'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Manav', 'age': 30, 'city': 'Delhi', 'country': 'India'}

In [36]:
#Write a code to convert a list of strings into a set

my_list = ['apple', 'banana', 'cherry', 'coconut', 'pineapple']
my_set = set(my_list)
print(my_set)

{'banana', 'pineapple', 'apple', 'cherry', 'coconut'}